{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "nfapp/style.css" %}'>
<b>Empresas</b><p>
{% if object_list %}
	<table width=850 border=yes class=lista>
		<tr height=20>
		<td width=50><b>Id</b></td>
		<td width=50><b>Razão Social</b></td>
		<td width=100 ></td></tr>
{% for empresa in object_list %}
		<tr height=20>
		<td>{{ empresa.id }}</td>
		<td>{{ empresa.razaosocial }}</td>
		<td style=text-align:center>
		<a href="{% url "nota_list" empresa.id %}"><button style=width:120px>Notas</button></a>
		</td></tr>
{% endfor %}
	</table>
	{% else %}
	Nenhuma empresa cadastrada</b>
{% endif %}
